/* Estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  section {
    font-size: 12px;
    color: red;
    margin-top: 4px;
  }
  
  .erro {
    border-color: red;
  }
  
  /* Adicionando estilos para as mensagens de erro */
  .erro {
    border-color: red;
  }
  
  input[type="text"].erro {
    border: 1px solid red;
  }
  
  